body {
  background-color: #ddf4cb;
}

h1 {
  font-family: "Crimson Text", serif;
  text-align: center;
  font-size: 36px;
  color: #5e8ae8;
}

h2 {
  margin: 0 0 5px;
  font: 28px;
  color: #5e8ae8;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  color: #2c786c;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #2c786c;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #5e8ae8;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
  color: #2c786c;
}

a {
  color: #2c786c;
}

footer {
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
